VITE_GEMINI_API_KEY="MY_GEMINI_API_KEY"
VITE_API_PROXY_TARGET="http://localhost:4000"
CLIENT_URL="http://localhost:3000"
API_URL="http://localhost:4000"
PORT="4000"
PGHOST="localhost"
PGPORT="5432"
PGDATABASE="parkwise"
PGUSER="postgres"
PGPASSWORD="postgres"
JWT_SECRET="replace-me"
SYS_ADMIN_EMAIL="sysadmin@parkwise.local"
SYS_ADMIN_PASSWORD="ParkWiseAdmin123!"
SYS_ADMIN_NAME="System Admin"
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
FACEBOOK_OAUTH_CLIENT_ID=""
FACEBOOK_OAUTH_CLIENT_SECRET=""
GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
